<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   DownloadApp.plist
   Wesdomer

   Created by Choi on 2019/8/24.
   Copyright (c) 2019 Choi. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    
    
    <key>items</key>
    
    <array>
        
        <dict>
            
            <key>assets</key>
            
            <array>
                
                <dict>
                    
                    <key>kind</key>
                    
                    <string>software-package</string>
                    
                    <key>url</key>
                    
                    <!-- http或者https链接的ipa文件地址 -->
                    
                    <string>https://github.com/caizhaojin/TestDownloadApp/raw/master/Wesdomer.ipa</string>
                    
                </dict>
                
                <dict>
                    
                    <key>kind</key>
                    
                    <string>full-size-image</string>
                    
                    <key>needs-shine</key>
                    
                    <true/>
                    
                    <key>url</key>
                    
                    <!-- http或者https链接的图片地址，可直接使用app对应的icon（分辨率没强制要求） -->
                    
                    <string>https://is5-ssl.mzstatic.com/image/thumb/Purple114/v4/56/09/d9/5609d9ed-1ead-8ab0-c2d5-48dc6b891da5/source/100x100bb.jpg</string>
                    
                </dict>
                
                <dict>
                    
                    <key>kind</key>
                    
                    <string>display-image</string>
                    
                    <key>needs-shine</key>
                    
                    <true/>
                    
                    <key>url</key>
                    
                    <!-- http或者https链接的小图片地址，可直接使用app对应的icon（分辨率没强制要求） -->
                    
                    <string>https://is5-ssl.mzstatic.com/image/thumb/Purple114/v4/56/09/d9/5609d9ed-1ead-8ab0-c2d5-48dc6b891da5/source/100x100bb.jpg</string>
                    
                </dict>
                
            </array>
            
            <key>metadata</key>
            
            <dict>
                
                <key>bundle-identifier</key>
                
                <!-- BundleID，就是新建app时的包名 -->
                
                <string>me.wesdom.oa</string>
                
                <key>bundle-version</key>
                
                <!-- 版本号 -->
                
                <string>2.7.1</string>
                
                <key>kind</key>
                
                <string>software</string>
                
                <key>title</key>
                
                <!-- 安装app时的提示信息 -->
                
                <string>WesdomerDownload</string>
                
            </dict>
            
        </dict>
        
    </array>
    
    
    
    
    
    
    </dict>
</plist>
